

.form-inline label {
    display: inline-block;
  }

  .form-inline input {
    display: inline-block;
  }
 
  #add-train {
    padding: 10px 20px;
    background-color: dodgerblue;
    border: 1px solid #ddd;
    color: white;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: royalblue;
  }
